
.radio-btn {
  position: relative;
  width: 1200px;
  margin-top: 10px;
}
.radio-btn div {
  display: inline-block;
}
.radio-btn div.info {
  position: relative;
  top: -7px;
}
.radio-btn div.op {
  position:absolute;
  top: 3px;
  right: 34px;
}
.radio-btn .ant-radio-button-wrapper {
  width: 150px;
  text-align: center;
  margin-left: 2px;
  overflow: hidden;
  position: relative;
  top: 3px;
}
.radio-btn .ant-radio-button-wrapper .ant-radio-button-checked:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 140px;
  z-index: 998;
  background-color: #000;
  transform: rotate(45deg);
}
.radio-btn .ant-radio-button-wrapper-checked:after {
  content: "\2713";
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 4px;
  left: 138px;
  z-index: 999;
}
.radio-btn:hover {
  background-color: #fff3f3;
}
.radio-btn:hover .op {
  display: block;
}
.radio-btn .op {
  position: absolute;
  top: 0;
  right: 10px;
  display: none;
}
.radio-btn .op > button{
  margin-left: 10px;
}
.radio-btn .info {
  margin-left: 10px;
}
.radio-btn .info .contact {
  width: 100px
}
.radio-btn .info .address {
  width: 400px;
}
.radio-btn .info .phone {
  width: 100px;
}